<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../styles.css">
</head>
    <body>
        <div class="container">

            <img src="/../paper.jpg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <h1><center>Welcome to To Do List!</center></h1>
                <hr>

                <br>
                <center>
                    <form action="/categories" method="get">
                        <button type="submit" class="btn-lg btn-danger">Add or view a category!</button>
                    </form>
                    <form action="/tasks" method="get">
                        <button type="submit" class="btn-lg btn-danger">Add or view a task!</button>
                    </form>
                </center>

                <br>
                <hr>
                <center>
                    <form action="/" method="get">
                        <button type="submit" class="btn-danger">Home!</button>
                    </form>
                    <form action="/deleted_tasks" method="post">
                        <button type="submit" class="btn-danger">Delete tasks!</button>
                    </form>
                    <form action="/deleted_categories" method="post">
                        <button type="submit" class="btn-danger">Delete categories!</button>
                    </form>
                </center>

            </div>
            <div class="col-sm-3"></div>

        </div>
    </body>
</html>
